wheel
uvicorn[standard]
fastapi
sqlalchemy
pydantic[email]
psycopg2
pyyaml
requests
requests_toolbelt
httpx
pyjwt[crpyto]
cryptography
pytest
pytest-cov
pytest-github-actions-annotate-failures
randominfo

